<nav class="mb-1 navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
            aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
        <ul class="navbar-nav mr-auto">
            <li *ngIf="currentUser" class="nav-item">
                <a class="nav-link" routerLink="/form">Form</a>
            </li>
            <li *ngIf="currentUser" class="nav-item">
                <a class="nav-link" routerLink="/statuses">Statuses</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto nav-flex-icons">
            <li *ngIf="!currentUser" class="nav-item">
                <a class="nav-link" routerLink="/login">Login</a>
            </li>
            <li *ngIf="currentUser" class="nav-item">
                <a class="nav-link" (click)="logout()">Loged as {{currentUser.username}}
                <i class="fa fa-sign-out">Logout</i> </a>
            </li>
        </ul>
    </div>
</nav>
