<div class="fixed-top">
  <header class="topbar">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <ul class="social-network">
            <li><a class="waves-effect waves-dark" href="#"><em class="fa fa-facebook"></em></a></li>
            <li><a class="waves-effect waves-dark" href="#"><em class="fa fa-twitter"></em></a></li>
            <li><a class="waves-effect waves-dark" href="#"><em class="fa fa-linkedin"></em></a></li>
            <li><a class="waves-effect waves-dark" href="#"><em class="fa fa-pinterest"></em></a></li>
            <li><a class="waves-effect waves-dark" href="#"><em class="fa fa-google-plus"></em></a></li>
          </ul>
        </div>
      </div>
    </div>
  </header>
</div>
