<nav class="navbar navbar-light bg-light">
    <div class="col-sm-12">
        <ul class="social-network">
            <li><a id="facebook" class="waves-effect waves-dark" href="https://www.facebook.com/aleksander.diachenko"><em
                    class="fa fa-facebook fa-lg"></em></a></li>
            <li><a id="linkedin" class="waves-effect waves-dark" href="https://www.linkedin.com/in/alexander-diachenko/"><em
                    class="fa fa-linkedin fa-lg"></em></a></li>
            <li><a id="github" class="waves-effect waves-dark" href="https://github.com/oleksandr-diachenko"><em
                    class="fa fa-github fa-lg"></em></a></li>
            <li><a id="telegram" class="waves-effect waves-dark" href="https://t.me/Oleksandr_Diachenko"><em
                    class="fa fa-telegram fa-lg"></em></a></li>
            <li><a id="email" class="waves-effect waves-dark" href="mailto:mail.positiv@gmail.com"><em
                    class="fa fa-at fa-lg"></em></a></li>
        </ul>
    </div>
</nav>
