<footer class="page-footer font-small bg-light mt-5">
    <div class="pb-5 pt-5">
        <div id="social-network" class="d-flex justify-content-center">
            <a id="facebook" class="nav-link waves-effect waves-dark"
               href="https://www.facebook.com/aleksander.diachenko">
                <em class="fa fa-facebook fa-lg"></em>
            </a>
            <a id="linkedin" class="nav-link waves-effect waves-dark"
               href="https://www.linkedin.com/in/alexander-diachenko/">
                <em class="fa fa-linkedin fa-lg"></em>
            </a>
            <a id="github" class="nav-link waves-effect waves-dark"
               href="https://github.com/oleksandr-diachenko">
                <em class="fa fa-github fa-lg"></em>
            </a>
            <a id="telegram" class="nav-link waves-effect waves-dark" href="https://t.me/Oleksandr_Diachenko">
                <em class="fa fa-telegram fa-lg"></em>
            </a>
            <a id="email" class="nav-link waves-effect waves-dark" href="mailto:mail.positiv@gmail.com">
                <em class="fa fa-at fa-lg"></em>
            </a>
        </div>
    </div>
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
        <a href="https://github.com/oleksandr-diachenko">Oleksandr Diachenko</a>
    </div>
</footer>