<div [hidden]="!status">

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let element"> {{element.status}} </td>
    </ng-container>

    <ng-container matColumnDef="fileId">
      <th mat-header-cell *matHeaderCellDef> File id </th>
      <td mat-cell *matCellDef="let element"> {{element.fileId}} </td>
    </ng-container>

    <ng-container matColumnDef="download">
      <th mat-header-cell  *matHeaderCellDef > Download </th>
      <td mat-cell *matCellDef="let element" >
        <button mat-button  [hidden]="element.status != 'COMPLETED'" (click)="download(element.fileId, element.name)">Download</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <button type="button" class="btn btn-secondary btn-lg" (click)="unstatus()">New check</button>
</div>
