<div>
    <table id="statuses" [dataSource]="dataSource" class="mat-elevation-z8 table-striped" mat-table>

        <mat-text-column name="name"></mat-text-column>

        <mat-text-column name="status"></mat-text-column>

        <mat-text-column name="acceptedTime" [dataAccessor]="getFormattedDateTime"></mat-text-column>

        <ng-container matColumnDef="download">
            <th *matHeaderCellDef mat-header-cell> Download</th>
            <td *matCellDef="let fileStatus" mat-cell>
                <button mat-stroked-button (click)="download(fileStatus.fileId, fileStatus.name)"
                        [hidden]="fileStatus.status != 'COMPLETED'">Download
                </button>
            </td>
        </ng-container>

        <tr *matHeaderRowDef="columns" mat-header-row></tr>
        <tr *matRowDef="let row; columns: columns;" mat-row></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    <a routerLink="/form" class="btn btn-link">New check</a>
</div>
