<div [hidden]="!status">

    <table [dataSource]="dataSource" class="mat-elevation-z8" mat-table>

        <ng-container matColumnDef="id">
            <th *matHeaderCellDef mat-header-cell> Id</th>
            <td *matCellDef="let element" mat-cell> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th *matHeaderCellDef mat-header-cell> Name</th>
            <td *matCellDef="let element" mat-cell> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="status">
            <th *matHeaderCellDef mat-header-cell> Status</th>
            <td *matCellDef="let element" mat-cell> {{element.status}} </td>
        </ng-container>

        <ng-container matColumnDef="acceptedTime">
            <th *matHeaderCellDef mat-header-cell> Accepted time</th>
            <td *matCellDef="let element" mat-cell>{{element.acceptedTime}}</td>
        </ng-container>

        <ng-container matColumnDef="download">
            <th *matHeaderCellDef mat-header-cell> Download</th>
            <td *matCellDef="let element" mat-cell>
                <button (click)="download(element.fileId, element.name)" [hidden]="element.status != 'COMPLETED'"
                        mat-button>Download
                </button>
            </td>
        </ng-container>

        <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
        <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
    </table>

    <button (click)="unstatus()" class="btn btn-secondary btn-lg" type="button">New check</button>
</div>
